body {
  margin: 0;
  display: flex;
  min-width: 320px;
  max-height: 100vh;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
  flex: 1;
}

#provider-form {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#provider-list {
  display: flex;
  flex-direction: row;
  flex: 2;
}

#provider-list #table-controls {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

#provider-list #filter-input {
  flex: 1;
}

#provider-list #sort-controls {
  display: flex;
  gap: 0.5rem;
}

.provider-details {
  display: flex;
}

.provider-contact {
  flex: 1;
}

.provider-specs {
  text-align: right;
}

#provider-form > .card,
#provider-list > .card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.invalid-feedback {
  display: block !important;
}

@media (min-width: 992px) {
  #app {
    overflow: hidden;
    flex-direction: row;
  }

  #provider-form,
  #provider-list {
    overflow: hidden;
  }

  #provider-form .card-body {
    overflow: auto;
  }

  #provider-content {
    display: flex;
    flex: 1;
    overflow: auto;
  }

  #provider-list .card-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
